$breakpoints: 'screens.2xl', 'screens.xl', 'screens.lg', 'screens.sm';
$min-size: 20;

.uploadCircle {
  height: $min-size + vw;
  width: $min-size + vw;
  position: relative;

  @for $i from 1 through length($breakpoints) {
    $item: nth($breakpoints, $i);
    $size: $min-size + ($i - 1) * 10 + vw;
    @media (max-width: theme($item)) {
      height: $size;
      width: $size;
    }
  }

  &.pulse::after {
    @apply rounded-full;
    @apply bg-gray-200;

    animation: pulse 2s infinite ease-out;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }
}

@keyframes pulse {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(1.4);
    opacity: 0;
  }
}

.fileInput {
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  width: 0.1px;
  z-index: -1;
}

.fileInput:focus + .uploadCircle {
  @apply border-2 border-dashed border-purple;
}
